@import 'styles/config';

.mynd > img {
  height: 250px;
  width: 100%;
}

.card {
  margin: 1.5rem 0;
}

.content{
  margin: 0.5rem 0;

  h3 {
    font-size: 1.25rem;
  }

  p {
    margin: 0.5rem 0;
  }
}

.duration {
  position: relative;
    margin-top: -55px;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 70px;
    text-align: center;
    height: 30px;
    margin-bottom: 25px;
    margin-left: 380px;
}