@import 'styles/config';

.mynd > img {
  height: 250px;
  width: 100%;
}

.card {
  margin: 1.5rem 0;
}

.video {
  margin: 0.5rem 0;

  h3 {
    font-size: 1.25rem;
  }

  p {
    margin: 0.5rem 0;
  }
}

.timestamp-container{
 position: relative;
    
}
.duration {
  position: absolute;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    right: 15px;
    bottom: 15px;
}
