@import 'styles/config';

.mynd > img {
  height: 250px;
  width: 100%;
}

.card {
  margin: 1.5rem 0;
}

.video {
  margin: 0.5rem 0;

  h3 {
    font-size: 1.25rem;
  }

  p {
    margin: 0.5rem 0;
  }
}

.duration {
  position: relative;
    margin-top: -45px;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 50px;
    text-align: center;
    height: 20px;
    margin-bottom: 35px;
    margin-left: 380px;
}
