@import 'styles/config';

header {
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1rem;

  h1 {
    font-size: 3rem;
    padding-top: 1rem;
  }
}

.title {
  overflow-wrap: break-word;
}




