@import 'styles/config';

video {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-imgs {
  margin: 0 0.5rem;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.pause {
  display: none;
}

// .play {
//   display: none;
// }
