@import 'styles/config';

video {
  width: 100%;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-imgs {
  margin: 0 0.5rem;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.play-btn {
  display: none;
}

.play-btn-visible {
  display: block;
}


.pause-btn {
  display: none;
}

.pause-btn-visible {
  display: block;
}

.mute-btn {
  display: none;
}

.mute-btn-visible {
  display: block;
}

.unmute-btn {
  display: none;
}

.unmute-btn-visible {
  display: block;
}


.video {
  position: relative;
}

.overlay {
  position: absolute;
  height: 50px;
  top: 46.5%;
  width: 100%;
}

.overlay-hidden {
  display: none;
}
