@import 'styles/config';

video {
  cursor: pointer;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}

.description {
  margin: 1rem 0;
}

.button-imgs {
  cursor: pointer;
  height: 50px;
  margin: 0 0.5rem;
  width: 50px;
}

.play-btn {
  display: none;
}

.play-btn-visible {
  display: block;
}

.pause-btn {
  display: none;
}

.pause-btn-visible {
  display: block;
}

.mute-btn {
  display: none;
}

.mute-btn-visible {
  display: block;
}

.unmute-btn {
  display: none;
}

.unmute-btn-visible {
  display: block;
}

.video {
  position: relative;
}

.overlay {
  height: 50px;
  position: absolute;
  top: 46.5%;
  width: 100%;
}

.overlay-hidden {
  display: none;
}
